<th:block th:fragment="form(user, sectors)">
    <form action="#" th:action="@{/addUser}" th:object="${user}" method="post">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

        <br/><br/>
        <label for="sectors">Sectors:</label><br />
        <select id="sectors" multiple size="10" th:field="*{sectorIds}">
            <th:block th:insert="fragments/sector-options :: options(${sectors}, 0)"></th:block>
        </select>

        <br/><br/>
        <input type="checkbox" th:field="*{termsAgreed}"> Agree to terms
        <span th:if="${#fields.hasErrors('termsAgreed')}" th:errors="*{termsAgreed}"></span>

        <br/><br/>
        <input type="submit" value="Add User">
    </form>
</th:block>
