<th:block th:fragment="form(user, sectors, isEdit)">
    <form th:if="${!isEdit}" th:action="@{/}" th:object="${user}" method="post">
        Please enter your name and pick the Sectors you are currently involved in.
        <br />
        <br />
        <th:block th:insert="fragments/form-fields :: fields(${user}, ${sectors}, ${isEdit})"></th:block>
    </form>
    <form th:if="${isEdit}" th:action="@{/edit}" th:object="${user}" method="post">
        Edit your name or Sectors you are currently involved in.
        <input type="hidden" th:field="*{id}" />
        <th:block th:insert="fragments/form-fields :: fields(${user}, ${sectors}, ${isEdit})"></th:block>
    </form>
</th:block>
